.legend {
  padding: 0.25em;
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 37vh;
  background: #333;
  color: white;
}

svg {
  fill: gainsboro;
  margin-left: 0.5em;
}

.legendTarget {
  border-bottom: 1px solid transparent;
}

.legendTarget:hover {
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}

.legendTitle {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.5em;
}

.targetInput {
  width: 50px;
}

.legendContainer {
  display: flex;
}

.legendPalette {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.legendColor {
  margin: 0.25em;
  width: 1em;
  height: 1.25em;
}

.legendRange {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.legendValue {
  margin: 0.25em;
  color: gainsboro;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
